.main-container {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three columns with equal width */
    grid-gap: 20px;
    /* Spacing between columns and rows */
}

.show-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #5A7C66;
}

.show-image {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin: 0 auto 10px;
    display: block;
}

.show-details {
    flex: 1;
}

.show-metadata {
    font-size: 14px;
    margin: 5px 0;
    color: #FFFFFF;
}