.main-container {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Responsive grid with 300px minimum width */
    grid-gap: 20px;
    /* Spacing between columns and rows */
}

.show-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #5A7C66;
    transition: all 0.3s ease-in-out;
    /* Add transition effect to the card */
    cursor: pointer;
}

.show-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    /* Add hover effect to the card */
}

.show-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
    /* Add transition effect to the image */
}

.show-image:hover {
    transform: scale(1.1);
    /* Add hover effect to the image */
}

.show-details {
    flex: 1;
}

.show-metadata {
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    margin: 5px 0;
    color: #FFFFFF;
}